.usersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroSection{
padding-bottom: 140px;
}

.userSection{
padding-bottom: 140px;
}

.registerSection{
padding-bottom: 100px;
}