.userCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex: 0 0 calc((100% - 29px * 2 ) / 3);
    background-color: var(--white);
    p {
        margin: 0;
        text-align: center;
        white-space: nowrap;
        max-width: 100%;
    }
    img { 
        border-radius: 50%;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            position: relative;
            span {
                display: block;
                visibility: hidden;
                padding: 3px 18px;
                background-color: var(--black);
                position: absolute;
                top: 47px;
                left: 80px;
                color: var(--white);
                border-radius: 4px;
                z-index: 1;
            }
            &:hover span {
                visibility: visible;
            }
        }
    }
}
   