:root {
    --primary-color: #f4e041;
    --secondary-color: #00bdd3;
    --background-color: #f8f8f8;
    --hover-color-btn: #ffe302;
    --disabled-color-btn: #b4b4b4;
    --black: #161616;
    --white: #ffffff;
    --border-color: #d0cfcf;
    --error-color: #000000;
    --label-color: #7e7e7e;
    --error-color: #CB3D40;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    line-height: 26px;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
}

button {
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    height: 34px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 80px;
    color: var(--black);
    display: inline-block;

    &:hover {
        background-color: var(--hover-color-btn);
    }

    &:disabled {
        background-color: var(--disabled-color-btn);
        color: rgba(255, 255, 255, 0.87);
        cursor: not-allowed;
    }
}

.wrapper {
    max-width: 1180px;
    padding: 0 5px;
    margin: 0 auto;
}

@import "normalize.css";